{% extends 'base.html'  %}
{% load static %}
{%block title %}index page{% endblock%}

{% block image_block%}
<header>
<!--Image and mask-->
          <div id="intro" class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-md-10 text-white">
                <!-- heading -->
                <h4 class="display-4 font-weight-bold  p-5 mb-2" style="color:rgb(209, 150, 22);"> OLBUTYO BOYS' HIGH SCHOOL </h4>

                <!-- divider -->
                <hr style="color: rgb(209, 150, 22);">

                <!-- description -->
                <h4 class="white-text my-4"><i><span class="text-primary">Motto:</span> Diligence for excelence.</i></h4>
                <a href="{% url 'curriculum:standard_list' %}"> <button type="button" class="btn btn-dark" style="color:rgb(209, 150, 22);border-color:rgb(209, 150, 22);">Learning</button> </a>

               

              </div>
            </div>
          </div>

</header>
{%endblock%}

{% block content %}

<main class="mt-5">
 
 
<!-- section 3 for activities -->

    <section class="text-center full-width" id="event-section">
            <h2 class="mb-3 mt-5 font-weight-bold" style="color:rgb(209, 150, 22);">Events LineUp</h2>
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-8">
                  <p class="text-white">Here are upcoming events in order they will take place.</p>
                </div>
              </div>
            <div class="row d-flex justify-content-center mb-4">
              <!-- col for event 1 -->
                            <div class="card mb-3 mr-5 ml-3" style="max-width:750px;max-height:750px;">
                              
                              {% load static %}
                              <img src="{% static 'Images/ground.jpg' %}" width="750px" height="750px">
                    
                                <div class="event-mask justify-content-center">
                                  <div class="row d-flex justify-content-center"> <h2 class="font-weight-bold" style="color:rgb(209, 150, 22);">About the Event</h2> </div>
                                  <div class="row d-flex justify-content-center">
                                    <div class="col">
                                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                                                      hic
                                                      provident nulla repellat
                                                      facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                                                      est
                                                      sit pariatur.</p>
                                      </div>
                                   </div>
                                   <div class="row d-flex justify-content-center">
                                     <a href="{% url 'user_login' %}" class="btn btn-primary mb-3" style="background-color:rgb(209, 150, 22);">Get Details</a>
                                   </div>
                                </div>
                            </div>
                            <!--col for event 2  -->
                            <div class="card mb-3 mr-5 ml-3" style="max-width: 750px;max-height:750px;">
                             
                              {% load static %}
                              <img src="{% static 'Images/twinlab.jpg' %}" width="750px" height="750px">
                    
                              
                              <div class="event-mask">
                                  <div class="row d-flex justify-content-center"> <h2 class="font-weight-bold" style="color:rgb(209, 150, 22);">About the Event</h2> </div>
                                  <div class="row d-flex justify-content-center">
                                      <div class="col">
                                          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                                                            hic
                                                            provident nulla repellat
                                                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                                                            est
                                                            sit pariatur.</p>
                                        </div>
                                   </div>
                                   <div class="row d-flex justify-content-center">
                                     <a href="{% url 'user_login' %}" class="btn btn-primary mb-3" style="background-color:rgb(209, 150, 22);">Get Details</a>
                                   </div>
                                </div>
                            </div>
                    </div>

                            <!-- button to get all activities -->
                <div class="row d-flex justify-content-center mt-5 mb-3">
                    <a href="{% url 'user_login' %}" class="btn btn-primary mb-4" style="background-color:rgb(209, 150, 22);">See All Events</a>
            </div>
    </section>
  <hr class="my-5" style="color:rgb(73, 66, 52);">
  <section class="bg-dark text-light">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4 h3-responsive font-weight-bold" style="color: rgb(209, 150, 22);;">Messages</h3>
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-md-3 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          {% load static %}
          <img
            src="{% static 'Images/principal.jpg' %}"
            class="rounded-circle shadow-1-strong"
            width="150"
            height="150"
          />
        </div>
        <h5 class="mb-3">Mr. Mukongolo John</h5>
        <h6 class="text-primary mb-3">Senior Principal</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic
          tenetur.
        </p>
        
      </div>
      <div class="col-md-3 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          {% load static %}
          <img
            src="{% static 'Images/boarding.jpg' %}"
            class="rounded-circle shadow-1-strong"
            width="150"
            height="150"
          />
        </div>
        <h5 class="mb-3">Mr. Mutai Julius</h5>
        <h6 class="text-primary mb-3">Deputy Principal</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam, quis nostrum
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.
        </p>
      
      </div>
      <div class="col-md-3 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          {% load static %}
          <img
            src="{% static 'Images/boarding.jpg' %}"
            class="rounded-circle shadow-1-strong"
            width="150"
            height="150"
          />
        </div>
        <h5 class="mb-3">Mr. Bett Richard</h5>
        <h6 class="text-primary mb-3">Deputy Principal</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam, quis nostrum
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.
        </p>
      
      </div>
      <div class="col-md-3 mb-0">
        <div class="d-flex justify-content-center mb-4">
          {% load static %}
          <img
            src="{% static 'Images/boarding.jpg' %}"
            class="rounded-circle shadow-1-strong"
            width="150"
            height="150"
          />
        </div>
        <h5 class="mb-3">Mr. Langat Steve</h5>
        <h6 class="text-primary mb-3">D.O.S</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>At vero eos et accusamus et iusto odio
          dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
        </p>
        
      </div>
    </div>
  </section>
</main>


{%endblock%}
